@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body {
    user-select: none;
    background-color: black;
    margin: 0;
}

#titulo {
    text-align: center;
    font-size: 50px;
    color: rgb(180, 155, 155);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: monospace;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablero {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.side{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20%;
    top: 280px;
    left: 50px;
    text-align: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 17px;
}

.info{
    position: absolute;
    top: 320px;
    right: 100px;
    width: 185px;
    padding: 10px;
    background-color: #84abd8;
    border-radius: 8%;
    border: 2px solid rgb(115, 176, 230);
    box-shadow:#2871c5 4px 4px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 570;
    font-family: 'Outfit', sans-serif;
    color: #161536;
}

.info p{
    margin: 0;
}

.reset {
    background-color: #fbeee0;
    border: 2px solid #001f42;
    border-radius: 30px;
    box-shadow: #002f64 4px 4px 0 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: monospace;
}

.reset:hover {
    background-color: #fff;
}

.reset:active {
    box-shadow: #00a4e6 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .reset {
    min-width: 120px;
    padding: 0 25px;
    }
}

.casilla {
    border-radius: 10%;
    background-color: rgb(0, 255, 255);
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casilla:hover {
    background-color: rgb(0, 161, 161);
}

#player{
    color: red
}